@model HomePageViewModel

@{
    ViewData["Title"] = "Kezdőlap";
}

<div class="lead container-fluid">
    @if (Model.LeadingArticle != null)
    {
        <h1 class="article-title large"><a asp-action="Article" asp-route-articleId="@Model.LeadingArticle.Id">@Model.LeadingArticle.Title</a></h1>
        <div>
            <img align="left" style="margin:0px 20px 0px 0px" src="@Url.Action("MainPictureForArticle", new { articleId = Model.LeadingArticle.Id })" class="contentImage" />
        </div>
        <div class="article-summary large">@Model.LeadingArticle.Summary</div>       
    }   
</div>
<hr />
<div class="article-list">
    @foreach (var article in Model.Articles)
    {
        <div class="article">       
            <h1 class="article-title "><a asp-action="Article" asp-route-articleId="@article.Id">@article.Title</a></h1>
            <div class="article-summary">@article.Summary</div>                  
        </div>       
    }
</div>
